# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
venv*/
env*/
.venv
.venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.ipynb_checkpoints
*.sqlite3

# Jupyter
.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Models
/models/*.pkl
/models/*.h5

# Local config
.env
.config